:root{
    --poke-red: #e73131;
}

html, body{
    margin: 0;
    height: 100%;
}

#header{
    background-image: linear-gradient(#ed425f, #df001a);
    height: 250px;
    margin-bottom: 105px;
}

.images{
    max-height: 65.65px;
    min-height: 65.3px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
}

.images img{
    filter: invert(100%);
}

.logo{
    width: 12rem;
    padding: 5px 65px;
}

.icons{
    height: min-content;
    width: min-content;
    
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-right: 20px;
}

.icons img{
    max-width: 25px;
    max-height: 25px;
    padding: 15px 20px 5px 20px;
}

.person{
    margin-right: 30px;
}

.text{
    color: white;
    font-size: 1.6rem;
    max-height: 75px;
    text-align: center;
}

.avatar{
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
}

#container{
    border: 2px solid black;
    height: 250px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.menu p{
    padding: 0 30px;
    font-size: 1.3rem;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu, p .pokedex{
    color: var(--poke-red);
}

.searchbar{
    border-bottom: 1px solid black;
    width: min-content;
    margin-left: 150px;
    display: flex;
}

.searchbar input{
    font-size: 1.3rem;
    border: none;
}

.searchbar img{
    height: 25px;
    width: 25px;
    padding-top: 2px;
}






@media (max-width: 574px){
    .menu p{
        padding: 0 20px;
        font-size: 1rem;
    }
}

@media (max-width: 790px){
    .searchbar{
        margin-left: 30px;
    }
}