:root{
    --poke-red: #ff0000;
}

html, body{
    margin: 0;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
}

#header{
    background-image: linear-gradient(#ed425f, #df001a);
    height: 250px;
    margin-bottom: 80px;
    border-bottom: 10px solid black;
}

.images{
    max-height: 65.65px;
    min-height: 65.3px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
}

.images img{
    filter: invert(100%);

    transition: filter 0.3s;
}

.images img:hover{
    filter: invert(70%);
}

.logo{
    width: 12rem;
    padding: 5px 65px;
}

.icons{
    height: min-content;
    width: min-content;
    
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 18px 40px 20px;
}

.icons img{
    max-width: 30px;
    max-height: 30px;

    margin-left: 8px;
}

.icons img:hover{
    cursor: pointer;
}

.person{
    margin-right: 30px;
}

.text{
    color: white;
    font-size: 1.4rem;
    max-height: 75px;
    text-align: center;
    padding-top: 6px;
}

.avatar{
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar-image{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 10px solid black;
    position: absolute;
}

#container{
    min-height: 500px;
    max-height: fit-content;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    height: 71.6px;
}

.menu p{
    padding: 0 30px;
    font-size: 1.3rem;

    transition: font-size 0.3s;
}

.menu p:hover{
    font-size: 1.5rem;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu, p .pokedex{
    color: var(--poke-red);
}

.searchbar{
    border-bottom: 1px solid black;
    width: min-content;
    margin-left: 150px;
    display: flex;

    padding-bottom: 5px;
}

.searchbar input{
    font-size: 1.3rem;
    border: none;
}

.searchbar img{
    height: 25px;
    width: 25px;
    padding-top: 2px;
}

.grid-container{
    display: grid;
    gap: 40px 20px; 
    grid-template-columns: repeat(3, 1fr);

    margin: 60px 150px 0 150px;
    width: fit-content;
}

.grid-item{
    border: 2px solid var(--poke-red);
    border-radius: 0.3rem;

    display: flex;
    min-width: 450px;
    max-width: 450px;
    min-height: 150px;
}

.grid-item img{
    max-width: 140px;
    padding-left: 20px;
}

#bulbassauro{
    max-width: 125px;
}

.info{
    min-width: 212px;
    
    margin-right: 20px;
    margin-left: auto;
}

.info span{
    font-size: 1.4rem;
    font-weight: bold;

    margin: 10px 0 0 0;
}

.info img{
    max-width: 30px;
    max-height: 30px;

    margin: 10px 15px 0 0;
}

.name{
    display: flex;
    justify-content: space-between;
}

.name a{
    text-decoration: none;
    color: black;

    transition: color 0.3s;
}

.name a:hover{
    color: #6b6b6b;
}

.type{
    display: flex;
    margin-left: 15px;
}

#bulba{
    margin-left: 24px;
}

.type p{
    border-radius: 0.5rem;

    margin-left: 12px;

    font-size: 15px;

    width: 70px;
    padding: 5px 8px;

    background-color: grey;
    color: white;
    text-align: center;
}

#g{
    background-color: #00ad67;
}

#p{
    background-color: #9e56d9;
}


.paginas{
    text-align: center;
    font-size: 1.6rem;
    width: 500px;
    height: 40px;

    margin: 0 auto;

    padding-top: 22px;

    color: var(--poke-red);
}

.paginas a{
    text-decoration: none;
    color: var(--poke-red);

    padding: 4px 15px 4px 15px;

    margin: 0 8px 0 8px;
}

#pag1{
    border-radius: 50%;

    color: white;
    background-color: var(--poke-red);
}

@media (max-width: 574px){
    .menu p{
        padding: 0 20px;
        font-size: 1rem;
    }
}

@media (max-width: 790px){
    .searchbar{
        margin-left: 30px;
    }
}

@media (max-width: 1575px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Style página 2 */

#header2{
    background-image: linear-gradient(#ed425f, #df001a);
    height: 250px;
    margin-bottom: 50px;
}

.return{
    margin-left: 150px;
    width: fit-content;

    font-weight: bold;
    font-size: 1.2rem;
}

.return a{
    text-decoration: none;
    color: black;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4.5px;
    margin-right: 4px;
    margin-bottom: 1px;
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.img-nome{
    display: flex;
    justify-content: space-evenly;

    width: 55rem;
    margin: 20px auto 10px auto;
}

.img-nome img{
    width: 300px;

    margin-right: 50px;
}

.nome{
    padding-top: 20px;
}

.nome p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 45px;
}

#pokename{
    font-size: 3.5rem;
    font-weight: bold;
    margin-right: 20px;
}

#pokenumber{
    font-size: 2rem;
    font-weight: 900;
    color: #6d6d6d;
}

#poketype{
    border-radius: 0.6rem;

    font-size: 15px;

    width: 80px;
    padding: 5px;

    background-color: grey;
    color: white;
    text-align: center;

    margin-bottom: 20px;
}

.atributos{
    width: fit-content;

    margin-left: 610px;
}

.atributos h1{
    margin-top: 10px;
}

.atr-div{
    width: fit-content;
    margin-top: 5px;
}

#ataque{
    margin-left: 153px;
}

#defesa{
    margin-left: 158px;
}

#velocidade{
    margin-left: 117px;
}

.atr{
    margin: 0 30px 0 180px;
    font-weight: bold;
}

.dot{
    height: 22px;
    width: 22px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 8px 8px 0 0;
}

#dotg{
    background-color: #00ad67;
}