:root{
    --poke-red: #ff0000;
}

html, body{
    margin: 0;
    height: 100%;
}

#header{
    background-image: linear-gradient(#ed425f, #df001a);
    height: 260px;
    margin-bottom: 85px;
}

.images{
    max-height: 65.65px;
    min-height: 65.3px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
}

.images img{
    filter: invert(100%);
}

.logo{
    width: 12rem;
    padding: 5px 65px;
}

.icons{
    height: min-content;
    width: min-content;
    
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 18px 40px 20px;
}

.icons img{
    max-width: 30px;
    max-height: 30px;

    margin-left: 8px;
}

.person{
    margin-right: 30px;
}

.text{
    color: white;
    font-size: 1.6rem;
    max-height: 75px;
    text-align: center;
    padding-top: 8px;
}

.avatar{
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar-image{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
}

#container{
    border: 2px solid black;
    min-height: 500px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.menu p{
    padding: 0 30px;
    font-size: 1.3rem;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu, p .pokedex{
    color: var(--poke-red);
}

.searchbar{
    border-bottom: 1px solid black;
    width: min-content;
    margin-left: 150px;
    display: flex;
}

.searchbar input{
    font-size: 1.3rem;
    border: none;
}

.searchbar img{
    height: 25px;
    width: 25px;
    padding-top: 2px;
}

.grid-container{
    border: 1px solid rgb(255, 0, 0);
    display: grid;
    gap: 40px 20px; 
    grid-template-columns: repeat(3, 1fr);

    margin: 60px 150px 0 150px;
    width: fit-content;
}

.grid-item{
    border: 2px solid var(--poke-red);
    border-radius: 0.3rem;

    display: flex;
    max-width: 450px;
    min-height: 150px;
}

.grid-item img{
    max-width: 140px;
    padding-left: 20px;
}

#bulbassauro{
    max-width: 130px;
}

.info{
    border: 1px solid black;
    min-width: 212px;
    
    margin-right: 20px;
    margin-left: auto;
}

.info span{
    font-size: 1.4rem;
    font-weight: bold;

    margin: 10px 0 0 0;
}

.info img{
    border: 1px solid black;
    max-width: 30px;
    max-height: 30px;

    margin: 10px 15px 0 0;
}

.name{
    display: flex;
    justify-content: space-between;
}

.type{
    display: flex;
    border: 1px solid black;
}

.type p{
    border-radius: 0.5rem;

    margin-left: 12px;

    font-size: 15px;

    width: 70px;
    padding: 5px 8px;

    background-color: grey;
    color: white;
    text-align: center;
}

#g{
    background-color: #00ad67;
}

#p{
    background-color: #9e56d9;
}


.paginas{
    text-align: center;
    font-size: 1.6rem;
    height: 40px;

    margin-top: 5px;

    padding-top: 25px;

    color: var(--poke-red);
}

.paginas a{
    text-decoration: none;
    color: var(--poke-red);

    padding: 9px 15px 7px 15px;

    margin: 0 8px 0 8px;
}

#pag1{
    border-radius: 50%;

    color: white;
    background-color: var(--poke-red);
}

@media (max-width: 574px){
    .menu p{
        padding: 0 20px;
        font-size: 1rem;
    }
}

@media (max-width: 790px){
    .searchbar{
        margin-left: 30px;
    }
}